.heading{
text-align: center;
}


body {
  font-family: sans-serif;
      background-color: lightcyan;
    overflow:auto;
    padding: 10px;
  
  }
  
  * {
    box-sizing: border-box;
  }

  .error {
    background-color: pink;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
}
  
  form.example input {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    width: 80%;
    background: #f1f1f1;
    display: flex;
    align-items: right;
    }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }

  .flex-container {
    display: flex;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    margin: 20px;
    padding: 80px;
    font-size: 70px;
  }
  .headers{
    font-size: 25px;
    font-weight: bold;
  }

  .button-box {
    text-align:center;
    margin-top:20px;
 }